<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Index</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <style>
        .center {
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            height: 100vh;
        }

        .big-text {
            font-size: 72px;
            font-family: "Baskerville Old Face", fantasy;
            font-weight: bold;
            color: black;
            margin: 20px 0;
        }
    </style>
</head>
<body>
<div class="center">
    <p class="big-text">
        The Rick and Morty Cards
    </p>
    <button class="text-gray-900 bg-white border border-gray-300 focus:outline-none hover:bg-gray-100 focus:ring-4 focus:ring-gray-200 font-medium rounded-lg text-sm px-5 py-2.5 mr-2 mb-2 dark:bg-gray-800 dark:text-white dark:border-gray-600 dark:hover:bg-gray-700 dark:hover:border-gray-600 dark:focus:ring-gray-700"
            onclick="location.href='cards'" type="submit">Click here
    </button>
</div>
</body>
</html>